src/test/resources/FullTestProc/FullTestInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="FullTestInterface" targetNamespace="http://FullTestProc/FullTestInterface" xmlns:bons1="http://FullTestLib" xmlns:tns="http://FullTestProc/FullTestInterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://FullTestProc/FullTestInterface">
      <xsd:import namespace="http://FullTestLib" schemaLocation="Stuff.xsd"/>
      <xsd:import namespace="http://FullTestLib" schemaLocation="Person.xsd"/>
      <xsd:element name="operation1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input1" nillable="true" type="bons1:Person"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operation1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output1" nillable="true" type="bons1:Stuff"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="operation1RequestMsg">
    <wsdl:part element="tns:operation1" name="operation1Parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1ResponseMsg">
    <wsdl:part element="tns:operation1Response" name="operation1Result"/>
  </wsdl:message>
    <wsdl:portType name="FullTestInterface">
    <wsdl:operation name="operation1">
      <wsdl:input message="tns:operation1RequestMsg" name="operation1Request"/>
      <wsdl:output message="tns:operation1ResponseMsg" name="operation1Response"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>