src/test/resources/FullTestLib/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://FullTestLib"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://FullTestLib">
	<xsd:include schemaLocation="Kontaktdaten.xsd"></xsd:include>
	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="vorname"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="nachname"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="geburtsdatum"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="kontaktdaten"
				type="bons0:Kontaktdaten" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>